body {
    font-family: "Palatino", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ecf4f4;
}

/* Encabezado */
header {
    background-color: #47abee;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

h1 {
    margin: 0;
    font-family: "Georgia", serif;
}

/* Sección de productos */
.productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.producto {
    width: 25%;
    text-align: center;
    margin-bottom: 20px;
    justify-content: space-between;
    margin-left: 1.5px;
    margin-right: 1.5px;
    height: 20%;
}

.producto img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.producto h2 {
    font-size: 22px;
    margin-bottom: 5px;
    font-family: "Comic Sans MS", serif;
}

.producto p {
    font-size: 14px;
    margin-bottom: 10px;
}

.producto a {
    display: inline-block;
    padding: 8px 15px;
    background-color: #9cc8fb;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-family: "Comic Sans MS", sans-serif;
}

/* Pie de página */
footer {
    background-color: #47abee;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    font-family: "Palatino", sans-serif;
}

svg {
    fill: white;
    width: 100%;
    height: auto;
    max-width: 100%;
    display: block;
}

.path {
    width: 100pt;
    height: 200px;
    fill: white;
}

/* Media queries para hacer el diseño responsive */
@media only screen and (max-width: 768px) {
    .productos {
        padding: 10px;
    }
    .producto {
        width: 45%;
        margin-left: 2.5%;
        margin-right: 2.5%;
    }
    .producto img {
        width: 80%;
    }
    .producto h2 {
        font-size: 18px;
    }
}


